<!-- include header -->
<%- include('include/_adminHeader') %>
<!-- /include header -->

<!-- Main Site -->
<div class="adminPage">
  <div class="userHdr">Add Drink</div>
  <input type="text" id="email" placeholder="Name..." />
  <input type="text" id="email" placeholder="Description..." />
  <input type="text" id="email" placeholder="Price..." />
  <input type="checkbox" id="popular" />
  <label for="popular">Popular</label>
  <button type="button">Add Drink</button>
</div>

<!-- /Main Site -->

<!-- <script src="/js/addDrink.js"></script> -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
