<!-- include header -->
<%- include('include/_adminHeader') %>
<!-- /include header -->

<!-- Main Site -->
<!--allows an admin to create a new flavor-->
<div id="mainContent" class="adminPage">
  <div class="userHdr">Add Flavor</div>
  <input type="text" id="flavor" placeholder="Flavor..." />
  <input class="submit" type="submit" value="Add Flavor" />
</div>

<!-- /Main Site -->

<script src="/js/addFlavor.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
