<!-- include header -->
<%- include('include/_adminHeader') %>
<!-- /include header -->

<!-- Main Site -->
<!--allows an admin to create a new topping-->
<div id="mainContent" class="adminPage">
  <div class="userHdr">Add Add-On</div>
  <input type="text" id="topping" placeholder="Add-On..." />
  <input type="text" id="toppingPrice" placeholder="Price (If Applicable)" />
  <input class="submit" type="submit" value="Add Add-On" />
</div>

<!-- /Main Site -->

<script src="/js/addTopping.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
