<!-- include header -->
<%- include('include/_adminHeader') %>
<!-- /include header -->

<!-- Main Site -->

<div id="mainContent" class="adminPage">
  <div class="userHdr">Add User</div>
  <input type="text" id="email" placeholder="Email..." />
  <select name="userType" id="userType">
    <option value="teacher">Teacher</option>
    <option value="barista">Barista</option>
    <option value="admin">Admin</option>
  </select>
  <input type="submit" class="submit" value="Add User" />
</div>

<!-- /Main Site -->

<script src="/js/addUser.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
