<%- include('include/_homeHeader') %>
<!-- /include header -->

<script src="js/auth2.js"></script>

<!-- ios support -->
<link rel="manifest" href="/manifest.json" />
<link rel="apple-touch-icon" href="/assets/models/NNHS-logo.png" />
<meta name="apple-mobile-web-app-status-bar" content="#383773" />
<meta name="theme-color" content="#383773" />

<!-- Main Site -->
<main>
  <div class="authForm">
    <img src="/img/huskie.jpg" style="width: auto; height: 150px" />
    <h1>
      Ordering through the Half Caf App is currently only available for NNHS
      staff members. Testing Phone.
    </h1>
    <!-- from https://developers.google.com/identity/gsi/web/guides/migration#popup-mode_1 -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div>
      <div
        id="g_id_onload"
        data-client_id="<%= process.env.CLIENT_ID %>"
        data-callback="handleCredentialResponse"
      ></div>
      <div class="g_id_signin" data-type="standard"></div>
    </div>
  </div>
</main>

<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
