<%- include('include/_baristaHeader') %>
<Main>
  <head>
    <h2>Orders:</h2>
  </head>
  <body>
    <div> <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Room Number</th>
              <th scope="col">Teacher</th>
              <th scope="col">Drinks</th>
              <th scope="col">Temp</th>
              <th scope="col">Decaf/SF</th>
              <th scope="col">Flavors</th>
              <th scope="col">Special Instructions</th>
              <th scope="col">Timestamp</th>
              <th scope="col">Cancel Order</th>
              <th scope="col">Finished</th>
            </tr>
          </thead>
          <tbody></div>
  </body>
</Main>
