<%- include('include/_teacherHeader') %>
<main>
  <head>
    <h1>Customize Drink</h1>
    <style>
      .select {
        width: 200px;
      }
      body {
        display: grid;
        align-items: menu;
      }
    </style>
  </head>

  <body>
    <h2>Drink Name</h2>
    <h3>$Price</h3>
    <p>Please fill out the following form to order this Drink</p>
    <div>
      <label>Choose Flavor:</label>
      <select class="select" name="filter" id="filter">
        <option>choose flavor</option>
        <option>chocolaste</option>
        <option>strawberry</option>
        <option>SF vanilloa</option>
      </select>
      <label>Choose Temperature</label>
      <select class="select" name="filter" id="filter">
        <option>Temperature</option>
        <option>Hot</option>
        <option>Cold</option>
        <option>Blended</option>
      </select>
      <label>Choose Decaf or Caffeinated</label>
      <input type="radio" id="decaf" name="caffeine" />
      <label for="decaf">Decaf</label>
      <input type="radio" id="caf" name="caffeine" />
      <label for="caf">Caffeine</label>
      <br /><br />
      <label>Type Any Special Instructions Here:</label>
      <textarea rows="4" cols="50">Enter text here...</textarea>
    </div>
  </body>
</main>
<%- include('include/_footer') %>
