<%- include('include/_teacherHeader') %>
<main>
  <head>
    <h1>Customize Drink</h1>
    <style>
      .select {
        width: 200px;
      }
      body {
        display: grid;
        justify-content: center;
        align-items: center;
      }
      textArea {
        width: 600px;
      }
    </style>
  </head>

  <body class="container">
    <h2 id="drinkName">drinkName</h2>
    <h3 id="drinkPrice">drinkPrice</h3>
    <p>Please fill out this form to customize your drink.</p>
    <div>
      <form action = "/teacherMyOrder">
      <label>Choose Flavor:</label>
      <input type="checkbox">
        <label>vanilla</label><br>
      <input type="checkbox">
        <label>chocolate</label><br>
      <input type="checkbox">
        <label>SF vanilla</label><br>
      </select>
      <label>Choose Temperature</label>
      <select class="select" name="filter" id="filter">
        <option>Temperature</option>
        <option>Hot</option>
        <option>Cold</option>
        <option>Blended</option>
      </select><br>
      <label>Choose Topping:</label><br>
      <input type="checkbox">
        <label>cream</label><br>
      <input type="checkbox">
        <label>sauce</label><br>
      <input type="checkbox">
        <label>boba</label><br><br>
      <label>Choose Decaf or Caffeinated</label><br>
      <input type="radio" id="decaf" name="caffeine" />
      <label for="decaf">Decaf</label>
      <input type="radio" id="caf" name="caffeine" />
      <label for="caf">Caffeine</label>
      <br /><br />
      <label>Type Any Special Instructions Here:</label><br />
      <textarea rows="4" cols="50">Enter text here...</textarea>
      <input type="submit" class="submit" value="Place Order" />
      </form>
    </div>

    <script>
    // Extracting parameters from the URL
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    
    // Getting values of parameters
    const drinkName = urlParams.get('drink');
    const drinkPrice = urlParams.get('price');
    const drinkDescription = urlParams.get('description');

        // Populating HTML elements with parameter values
    document.getElementById('drinkName').innerText = drinkName;
    document.getElementById('drinkPrice').innerText = "$" + drinkPrice;
    </script>
  </body>
</main>
<%- include('include/_footer') %>