<%- include('include/_header') %>
<main>
  <head>
    <h1>Customize Drink</h1>
  </head>
  <body>
    <h2>Drink Name</h2>
    <h3>$Price</h3>
    <div>
      <label>Choose Flavor:</label>
      <select class="select" name="filter" id="filter">
        <option>choose flavor</option>
        <option>chocolaste</option>
        <option>strawberry</option>
      </select>
    </div>
  </body>
</main>
<%- include('include/_footer') %>
