<!-- include header -->
<%- include('include/_adminHeader') %>
<!-- /include header -->

<!-- Main Site -->

<div class="adminPage">
  <div class="userHdr">Delete Topping</div>
  <select name="drinks"></select>
  <button type="button">Delete Topping</button>
</div>

<!-- /Main Site -->

<script src="/js/admin.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
