<!-- include header -->
<%- include('include/_adminHeader') %>
<!-- /include header -->

<!-- Main Site -->

<div id="mainContent">
  <div class="adminPage">
    <div class="userHdr">Delete Drink</div>
    <!-- Loop through menuItems to populate dropdown -->
    <select id="toDelete">
      <% for (let menuItem of menuItems) { %>
      <option value="<%= menuItem.id %>"><%= menuItem.name %></option>
      <% } %>
    </select>
    <input
      id="delDrink"
      type="submit"
      onclick="deleteMenuItem()"
      value="Delete Drink"
    />
  </div>
</div>

<!-- /Main Site -->

<script src="/js/deleteMenuItem.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
