<!-- include header -->
<%- include('include/_adminHeader') %>
<!-- /include header -->

<!-- Main Site -->

<div class="adminPage">
  <div class="userHdr">Delete Flavor</div>
  <select name="drinks"></select>
  <button type="button">Delete Flavor</button>
</div>

<!-- /Main Site -->

<!-- <script src="/js/deleteFlavor.js"></script> -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
