<!-- include header -->
<%- include('include/_adminHeader') %>
<!-- /include header -->

<!-- Main Site -->

<div id="mainContent" class="adminPage">
  <div class="userHdr">Delete Flavor</div>
  <select id="toDelete">
    <% for (let flavor of flavors) { %>
    <option value="<%= flavor.id %>"><%= flavor.flavor %></option>
    <% } %>
  </select>
  <input
    id="delFlavor"
    type="submit"
    onclick="deleteFlavor()"
    value="Delete Flavor"
  />
</div>

<!-- /Main Site -->

<script src="/js/deleteFlavor.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
