<!-- include header -->
<%- include('include/_adminHeader') %>
<!-- /include header -->

<!-- Main Site -->

<div class="adminPage">
  <div class="userHdr">Delete User</div>
  <select id="toDelete">
    <% for (let user of usersJs) { %>
    <option onclick="test"><%=user.email%></option>
    <% } %>
  </select>
  <input
    id="delUser"
    type="submit"
    onclick="deleteUsers(`<%= usersJs.id %>`)"
    value="Delete User"
  />
</div>

<!-- /Main Site -->

<script src="/js/deleteUser.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
