<!-- include header -->
<%- include('include/_adminHeader') %>
<!-- /include header -->

<!-- Main Site -->

<div class="adminPage">
  <div class="userHdr">Delete Drink</div>
  <select id="toDelete">
    <% for (let menuItem of menuItems) { %>
    <option value="<%= menuItem.id %>"><%= menuItem.name %></option>
    <% } %>
  </select>
  <input
    id="delFlavor"
    type="submit"
    onclick="deleteMenuItem()"
    value="Delete Drink"
  />
</div>

<!-- /Main Site -->

<!-- <script src="/js/deleteDrink.js"></script> -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
