<!-- include header -->
<%- include('include/_adminHeader') %>
<!-- /include header -->

<!-- Main Site -->

<div id="mainContent" class="adminPage">
  <div class="userHdr">Delete Add-On</div>
  <select id="toDelete">
    <% for (let topping of toppings) { %>
    <option value="<%= topping.id %>"><%= topping.topping %></option>
    <% } %>
  </select>
  <input
    id="delTopping"
    type="submit"
    onclick="deleteTopping()"
    value="Delete Add-On"
  />
</div>

<!-- /Main Site -->

<script src="/js/deleteTopping.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
