<%- include ('include/_deliveryHeader') %>
<div id="mainContent">
  <div class="barista-header">
    <h1 class="page-title">Order Progress</h1>
    <input type="submit" value="Finish Order" id="finish" />
    <input type="submit" value="Log Out" id="logout" />
  </div>
</div>

<script src="/js/deliveryProgress.js"></script>

<%- include ('include/_footer') %>
