<%- include('include/_teacherHeader') %>

<main>
  <div>
    <h1>Thanks for supporting the Half Caf!</h1>
    <h1>
      <a href="https://forms.gle/Mk5ZRBX29BD3Cx1r7" target="_blank">
        Please fill out this survey to tell us about your experience ordering
        through the app.
      </a>
    </h1>
  </div>
</main>

<%- include('include/_footer') %>
