
<main>
  <h2>Popular Drinks</h2>
  <div class="card">
    <div class="container">
      <h4><b>Mr. Schmidt's Earl Grey Tea</b></h4>
      <h5>$ 3</h5>
      <p>Mr. Schmidt's signature drink</p>
      <a class="active" href="#earlGreyTea"></a>
    </div>
  </div>
</main>

<%- include('include/_footer') %>