<%- include('include/_teacherHeader') %>

<main>
  <h2>My Favorites</h2>
  <a href="/customizeDrink">
    <div class="card">
      <div class="container">
        <h4><b>Arnold Palmer</b></h4>
        <h5>$ 3</h5>
        <p>Only for people named Arnold</p>
        <a class="active" href="#arnoldPalmer"></a>
      </div></div
  ></a>
</main>

<%- include('include/_footer') %>
