<%- include('include/_teacherHeader') %>
<body>
  <h2>Cart</h2>

  <div id="page-content">
    <input type="text" id="rm" placeholder="Enter Room Number" />
    <a href="/orderConfirmation" role="button" id="placeOrder">Place Order</a>
  </div>
</body>

<style>
  #page-content {
    width: 16%;
    margin: 1%;
  }
</style>
<%- include('include/_footer') %>
