<%- include('include/_teacherHeader') %>
<Main>
  <head>
    <h2>Menu</h2>
  </head>
  <body>
    <div >
    <h3>Coffee</h3>
     <a href="/customizeDrink?drink=Latte&price=4&description=Add+a+flavor!+Hot+or+iced.+Available+in+decaf.">
      <div class="card">
        <div class="container">
          <h4><b>Latte</b></h4>
          <h5>$4</h5>
          <p>Add a flavor! Hot or iced. Available in decaf.</p>
        </div></a
    >
    <a href="/customizeDrink?drink=Cafe+Mocha&price=4&description=Creamy+chocolatey+espresso+based,+hot+or+iced,+available+in+decaf.">
      </div>
      <div class="card">
        <div class="container">
          <h4><b>Cafe Mocha</b></h4>
          <h5>$4</h5>
          <p>Creamy chocolatey espresso based, hot or iced, available in decaf.</p>
        </div>
      </div></a>
      <a href="/customizeDrink?drink=Caramel+Macchiato&price=4&description=Creamy+caramel+espresso+base,+hot+or+iced,+available+in+decaf">
      </div>
      <div class="card">
        <div class="container">
          <h4><b>Caramel Macchiato</b></h4>
          <h5>$4</h5>
          <p>Creamy caramel espresso based, hot or iced, available in decaf</p>
        </div>
      </div></a>
      <a href="/customizeDrink?drink=Cold+Brew&price=3&description=Try+Vanilla+Cream">
      </div>
      <div class="card">
        <div class="container">
          <h4><b>Cold Brew</b></h4>
          <h5>$3</h5> 
          <p>Try Vanilla Cream</p>
        </div>
      </div></a>
      <a href="/customizeDrink?drink=Nitro+Cold+Brew&price=3">
      </div>
      <div class="card">
        <div class="container">
          <h4><b>Nitro Cold Brew</b></h4>
          <h5>$3</h5>
          <p>Infused smoothly and velvety cold brew.</p>
        </div>
      </div></a>
      <a href="/customizeDrink?drink=Iced+Brown+Sugar+Shaken+Espresso&price=4">
      </div>
      <div class="card">
        <div class="container">
          <h4><b>Iced Brown Sugar Shaken Espresso</b></h4>
          <h5>$4</h5>
          <p>Chilled brown sugar cinnamon topped with cream, available in decaf</p>
        </div>
      </div></a>
      </div>
      <div>
      <h3>Not Coffee</h3>
      <a href="/customizeDrink?drink=Strawberry+Refresher&price=4">
      </div>
      <div class="card">
        <div class="container">
          <h4><b>Strawberry Refresher</b></h4>
          <h5>$4</h5>
          <p>New Release</p>
        </div>
      </div></a>
      <a href="/customizeDrink?drink=Hot+Tea&price=2">
      </div>
      <div class="card">
        <div class="container">
          <h4><b>Hot Tea</b></h4>
          <h5>$2</h5>
          <p></p>
        </div>
      </div></a>
      <a href="/customizeDrink?drink=Chai+Tea+Latte&price=4">
      </div>
      <div class="card">
        <div class="container">
          <h4><b>Chai Tea Latte</b></h4>
          <h5>$4</h5>
          <p>Hot or Iced</p>
        </div>
      </div></a>
      <a href="/customizeDrink?drink=Iced+Tea&price=3">
      </div>
      <div class="card">
        <div class="container">
          <h4><b>Iced Tea</b></h4>
          <h5>$3</h5>
          <p></p>
        </div>
      </div></a>
      <a href="/customizeDrink?drink=Huskie+Palmer&price=3">
      </div>
      <div class="card">
        <div class="container">
          <h4><b>Huskie Palmer</b></h4>
          <h5>$3</h5>
          <p>1/2 iced tea 1/2 lemonade, available iced or frozen</p>
        </div>
      </div></a>
      <a href="/customizeDrink?drink=Lemonade&price=3">
      </div>
      <div class="card">
        <div class="container">
          <h4><b>Lemonade</b></h4>
          <h5>$3</h5>
          <p>Add a flavor, available iced or frozen.</p>
        </div>
      </div></a>
      <a href="/customizeDrink?dirnk=Hot+Chocolate&price=4">
      </div>
      <div class="card">
        <div class="container">
          <h4><b>Hot Chocolate</b></h4>
          <h5>$4</h5>
          <p>Add a flavor, available iced or frozen</p>
        </div>
      </div></a>
      <a href="/customizeDrink?drink=Iced+Green+Tea&price=3">
      </div>
      <div class="card">
        <div class="container">
          <h4><b>Iced Green Tea</b></h4>
          <h5>$3</h5>
          <p>Add a flavor</p>
        </div>
        </div>
      </div></a>
  </body>
 
</Main>
<%- include('include/_footer') %>
