<%- include('include/_teacherHeader') %>

<h2>Order History</h2>

<div class="column" style="background-color: #5b9dc4">
  <h2>Earl Grey Tea</h2>
  <p>1/1/24</p>
</div>

<%- include('include/_footer') %>
