<%- include('include/_teacherHeader') %>
<body>
  <h2>Cart</h2>

  <div id="page-content">
    <input type="text" id="rm" placeholder="Enter Room Number" />
    <input type="submit" class="placeOrder" value="Place Order" />
  </div>
</body>

<style>
  #page-content {
    width: 16%;
    margin: 1%;
  }
</style>
<script src="/js/teacherMyOrder.js"></script>
<%- include('include/_footer') %>
