<Main>
  <head>
    <h1 class="indexTopBar">NNHS Half Calf</h1>
    <h2>Menu</h2>
    <style>
      /* CSS styles for the box */
      .card {
        width: 200px; /* Set the width of the box */
        height: 300px; /* Set the height of the box */
        border: 8px solid #7087c7; /* Add a border */
        padding: 10px; /* Add some padding inside the box */
        overflow: auto; /* Add scrollbar if content exceeds box size */
        background: #e2c497;
      }
    </style>
  </head>
  <body>
    <div class="card">
      <h1>Item Name:</h1>
      Item Description:
      <h2>Price:</h2>
      <h2>Flavors:</h2>
      <h2>Popular:</h2>
    </div>
  </body>
</Main>
