<%- include('include/_teacherHeader') %>
<Main>
  <head>
    <h2>Menu</h2>
    <style></style>
  </head>
  <body>
    <a href="/customizeDrink">
      <div class="card">
        <div class="container">
          <h4><b>Drink</b></h4>
          <h5>$ Price</h5>
          <p>Description</p>
        </div></a
    >
    <a href="/customizeDrink">
      </div>
      <div class="card">
        <div class="container">
          <h4><b>Drink</b></h4>
          <h5>$ Price</h5>
          <p>Description</p>
        </div>
      </div></a>
  </body>
</Main>
<%- include('include/_footer') %>
