<%- include('include/_teacherHeader') %>

<h2>Cart</h2>

<div class="card">
  <div class="container">
    <h4><b>Mr. Schmidt's Earl Grey Tea</b></h4>
    <h5>Special Instructions:</h5>
    <p>Room 108</p>
    <a class="active" href="#earlGreyTea"></a>
  </div>
</div>

<div>
  <a href="/orderConfirmation" role="button" id="placeOrder">Place Order</a>
</div>

<style>
  #placeOrder {
    margin: 2%;
  }
</style>
<%- include('include/_footer') %>
