<%- include('include/_header') %>

<div class="indexTopBar">
  <h1>NNHS Half Caf</h1>
</div>

<main>
  <div class="topnav">
    <a class="active" href="#popularDrinks">Popular Drinks</a>
    <a href="#menu">Menu</a>
    <a href="#myOrder">My Order</a>
    <a href="#myFavorites">My Favorites</a>
  </div>

  <div class="card">
    <div class="container">
      <h4><b>Mr. Schmidt's Earl Grey Tea</b></h4>
      <h5>$ 3</h5>
      <p>Mr. Schmidt's signature drink</p>
      <a class="active" href="#earlGreyTea"></a>
    </div>
  </div>
</main>

<%- include('include/_footer') %>
