<!-- include header -->
<%- include('include/_adminHeader') %>
<!-- /include header -->

<!-- Main Site -->

<div class="adminPage">
  <div class="userHdr">Users</div>

  <label>Filter by Status:</label>
  <select class="select" id="filter-users">
    <option>All</option>
    <option>Activated</option>
    <option>Deactivated</option>
  </select>

  <!--Displays users in view user in a select multiple-->
  <label for="users"></label>
  <select multiple name="users" id="users" multiple>
    <% for (let user of users) {%>
    <option value="<%=user._id%>">
      <%= user.email + " (" + user.userType + ")" %>
    </option>
    <%}%>
  </select>

  <!--Creates the activate user button-->
  <button id="activate" type="button" class="user-buttons">
    Activate User
  </button>
  <!--Creates the deactivate user button-->
  <button id="deactivate" type="button" class="user-buttons">
    Deactivate User
  </button>
</div>

<!-- /Main Site -->
<script src="/js/viewUser.js"></script>
<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
