<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Half Caf</title>
    <div class="container">
      <%- include('_header') %>
      <h1 class="indexTopBar">NNHS Half Caf Admin</h1>
    </div>

    <div class="topnav">
      <a href="/addUser">Add User</a>
      <a href="/deleteUser">Delete User</a>
      <a href="/viewUser">View User</a>
      <a href="/addDrink">Add Drink</a>
      <a href="/modifyDrink">Modify Drink</a>
      <a href="/deleteDrink">Delete Drink</a>
      <a href="/addFlavor">Add Flavor</a>
      <a href="/deleteFlavor">Delete Flavor</a>
      <a href="/auth">Logout</a>
      <!-- Rounded switch -->
      <label class="on-off">
        <input type="checkbox" />
        <span class="dis-en"></span>
      </label>
    </div>

    <link rel="stylesheet" href="/css/pico.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
</html>
