<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Half Caf</title>
    <link rel="stylesheet" href="/css/pico.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" type="image/png" href="/img/logo.png" />
  </head>
  <body>
    <div class="container" id="logo">
      <%- include('_header') %>
      <h1 class="indexTopBar">NNHS Half Caf Admin</h1>
    </div>

    <div class="topnav">
      <a href="/addUser">Add User</a>
      <a href="/deleteUser">Delete User</a>
      <a href="/viewUser">View User</a>
      <a href="/modifyUser">Modify User</a>
      <a href="/addDrink">Add Drink</a>
      <a href="/modifyDrink">Modify Drink</a>
      <a href="/deleteDrink">Delete Drink</a>
      <a href="/addFlavor">Add Flavor</a>
      <a href="/deleteFlavor">Delete Flavor</a>
      <a href="/addTopping">Add Topping</a>
      <a href="/DeleteTopping">Delete Topping</a>
      <a href="/metrics">Metrics</a>
      <a href="https://forms.gle/uqQ8SiAY4BUPCTJp8" target="_blank">Feedback</a>
      <a href="https://forms.gle/MuZF7T39r9adDQRT8" target="_blank"
        >Report a bug</a
      >
      <a href="/logout">Logout</a>

      <label class="on-off">
        <% if (headerData.enabled === false) { %>
        <input class="toggle" type="checkbox" id="myCheckbox" />
        <span class="dis-en"></span>
        <% } else { %>
        <input
          class="toggle"
          type="checkbox"
          id="myCheckbox"
          checked="checked"
        />
        <span class="dis-en"></span>
        <% } %>
      </label>
      <h4>Toggle allow ordering</h4>
    </div>
    <!--<script src="/socket.io/socket.io.js"></script>-->
    <script src="/js/notifications.js"></script>
    <script src="/js/refreshOrderingToggle.js"></script>
    <script src="/js/toggleEnabled.js"></script>
  </body>
</html>
