<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Half Caf</title>
    <link rel="stylesheet" href="/css/pico.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />

    <h1 class="indexTopBar">NNHS Half Caf Barista</h1>

    <div class="topnav">
      <a href="/barista">Orders</a>
      <a href="/completed">Completed Orders</a>
      <a href="/auth">Logout</a>
      <a class="notification">
        <span>New Orders</span>
        <span class="badge">8</span>
      </a>
      <button class="dis-en" id="dis/en">Disable</button>
    </div>
  </head>
</html>
