<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Half Caf</title>
    <link rel="stylesheet" href="/css/pico.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <div class="container" id="logo">
      <%- include('_header') %>
      <h1 class="indexTopBar">NNHS Half Caf Barista</h1>
    </div>

    <div id="sidebar" class="sidebar">

      <a><button id="sidebarToggle" onclick="toggleSidebar()">Collapse</button></a>

      <button><a href="/barista">Orders</a></button>
      <button><a href="/completed">Completed Orders</a></button>
      <button><a href="/cancelledOrders">Cancelled Orders</a></button> 
    </br>
    <button><a href="https://forms.gle/uqQ8SiAY4BUPCTJp8" target="_blank">Feedback</a> </button>
    <button><a href="https://forms.gle/MuZF7T39r9adDQRT8" target="_blank"
        >Report a bug</a
      ></button>
      
      <button><a href="/logout">Logout</a></button>
      </br>

      <% let numOfNewOrders = 0; %> <% for (let order of orders){%> <%
      if(order.complete === false && order.cancelled === false){%><%
      numOfNewOrders++; }}%>

      <button class="notification">
        <%if(numOfNewOrders > 0) { %>
        <span class="badge"><%=numOfNewOrders%></span>
        <%}%>
        <select class="dropdown" id="orders">
          <%if(numOfNewOrders > 0) { %>
          <option>New Orders</option>
          <%} else { %>
          <option>No New Orders</option>
          <%}%> <% for (let order of orders){%> <%if(order.complete === false &&
          order.cancelled === false){%>
          <option disabled>order from room <%=order.room%></option>
          <%}}%>
        </select>
      </button>

      <!-- Rounded switch -->
      <script src="/js/refresh.js"></script>
      <script>
            function toggleSidebar() {
        const sidebar = document.getElementById('sidebar');
        const mainContent = document.getElementById('mainContent');
        const toggleButton = document.getElementById('sidebarToggle');
        sidebar.classList.toggle("flyOff");
    mainContent.classList.toggle("shiftLeft");

        // Toggle .collapsed on the sidebar
        sidebar.classList.toggle('collapsed');

        // Adjust the button text
        if (sidebar.classList.contains('collapsed')) {
          toggleButton.textContent = 'Open';
        } else {
          toggleButton.textContent = 'Collapse';
        }
      }
    </script>

      <label class="on-off">
        <% if(headerData.enabled === false) { %>
        <input class="toggle" type="checkbox" id="myCheckbox" />
        <span class="dis-en"></span>
        <% } else { %>
        <input
          class="toggle"
          type="checkbox"
          id="myCheckbox"
          checked="checked"
        />
        <span class="dis-en"></span>
        <% } %>
      </label>
      <h4>Toggle allow ordering</h4>
    </div>
    <style>
      .notification {
        position: relative;
      }

      .badge {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: red;
        color: white;
        padding: 5px 8px;
        border-radius: 50%;
        font-size: 12px;
        display: flex;
        height: 25px;
        min-width: 25px;
        align-items: center;
      }
    </style>

    <script src="/js/toggleEnabled.js"></script>
  </head>
</html>
