<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Half Caf Delivery System</title>
    <link rel="stylesheet" href="/css/pico.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" type="image/png" href="/img/logo.png" />
    <style>
      @media screen and (max-width: 768px) {
        .full-title {
          display: none;
        }
      }
      @media screen and (min-width: 769px) {
        .mobile-title {
          display: none;
        }
      }
    </style>
  </head>
  <body>
    <div class="container" id="logo">
      <%- include('_header') %>
      <h1 class="indexTopBar">
        <span class="full-title">NNHS Half Caf Delivery</span>
        <span class="mobile-title">Half Caf Delivery</span>
      </h1>
    </div>
  </body>
</html>
