<html>
  <head>
    <!-- Your head content goes here -->
  </head>
  <body>
    <!-- Your body content goes here -->

    <footer
      style="
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #f8f9fa;
        padding: 20px;
        text-align: center;
      "
    >
      <p>
        Developed in 2024 by Delilah Meerman, Tavneet Gadhoke, Abigail
        Baldinger, Eric Lai
      </p>
    </footer>
  </body>
</html>
