<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Half Caf</title>

    <link rel="stylesheet" href="/css/pico.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <style>
      #logo {
        display: flex;
        align-items: center;
      }
      #modelContainer {
        width: 100px; /* Match the width of the current image */
        height: 100px; /* Match the height of the current image */
        background-color: white; /* Set the background color to white */
      }
      #pageTitle {
        margin-left: 20px; /* Space between the cup and the text */
        font-size: 24px; /* Adjust font size as needed */
      }
    </style>
</html>