<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Half Caf</title>
    <link rel="stylesheet" href="/css/pico.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <div class="container" id="logo">
      <%- include('_header') %>
      <h1 class="indexTopBar">NNHS Half Caf</h1>
    </div>
    <div class="sidebar">

      <a><button id="sidebarToggle" onclick="toggleSidebar()">Collapse</button></a>

      <button href="/homePopularDrinks">Popular Drinks</button> 
      <button href="/homeMenu">Menu</button> 
    </br>
      <button href="/auth">Login</button> 
      <button href="/auth">Register</button>
    </div>

    <script>
      function toggleSidebar() {
      const sidebar = document.getElementById("sidebar");
      const mainContent = document.getElementById("mainContent");
      const toggleButton = document.getElementById("sidebarToggle");
      sidebar.classList.toggle("flyOff");
      mainContent.classList.toggle("shiftLeft");

      // Toggle .collapsed on the sidebar
      sidebar.classList.toggle("collapsed");

      // Adjust the button text
      if (sidebar.classList.contains("collapsed")) {
        toggleButton.textContent = "Open";
      } else {
        toggleButton.textContent = "Collapse";
      }
    }
    </script>

  </head>
</html>
