<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Half Caf</title>
    <link rel="stylesheet" href="/css/pico.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <div class="container" id="logo">
      <%- include('_header') %>
      <h1 class="indexTopBar">NNHS Half Caf</h1>
    </div>
    <div class="topnav">
      <a href="/">Popular Drinks</a>
      <a>Menu</a>
      <a href="/auth">Login</a>
      <a href="/auth">Register</a>
    </div>
  </head>
</html>
