<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Half Caf</title>
    <link rel="stylesheet" href="/css/pico.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <div class="indexTopBar">
    <div class="container" id="logo">
      <%- include('_header') %>
      <h1 id="title" class="indexTopBar">NNHS Half Caf</h1>
    </div>
    <% if(headerData.enabled === false){ %>
    <h3 id="noOrder">Ordering is not currently available</h3>
    <% } %>
    <button
      href="https://forms.gle/uqQ8SiAY4BUPCTJp8"
      target="_blank"
      id="logout"
    >
      Feedback
    </button>
    <button
      href="https://forms.gle/MuZF7T39r9adDQRT8"
      target="_blank"
      id="logout"
    >
      Report a bug
    </button>
    <button href="/logout" id="logout">Logout</button>
  </div>

  <div class="sidebar" id="navbar">
    <a
      ><button id="sidebarToggle" onclick="toggleSidebar()">Collapse</button></a
    >

    <button><a href="/teacherPopularDrinks">Popular Drinks</a></button>
    <button><a href="/teacherMenu">Menu</a></button>
    <button><a href="/teacherMyFavorites">My Favorites</a></button>
    <button><a href="/teacherMyOrder">My Order</a></button>
    <button><a href="/teacherOrderHistory">Order History</a></button>
  </div>

  <style>
    #noOrder {
      margin-top: 3%;
      margin-right: 5%;
      margin-left: 3%;
      max-width: 40%;
    }
    #logout {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      background-color: #3f93d8;
      margin-right: 5%;
      border-radius: 5px;
    }
    #logout:hover {
      background-color: #f5ae43;
    }
  </style>

  <input class="emailInput" type="hidden" value="<%=email%>" />
  <script src="/js/refresh.js"></script>
  <script>
    function toggleSidebar() {
      const sidebar = document.getElementById("sidebar");
      const mainContent = document.getElementById("mainContent");
      const toggleButton = document.getElementById("sidebarToggle");
      sidebar.classList.toggle("flyOff");
      mainContent.classList.toggle("shiftLeft");

      // Toggle .collapsed on the sidebar
      sidebar.classList.toggle("collapsed");

      // Adjust the button text
      if (sidebar.classList.contains("collapsed")) {
        toggleButton.textContent = "Open";
      } else {
        toggleButton.textContent = "Collapse";
      }
    }
  </script>
</html>
