<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Half Caf</title>
    <link rel="stylesheet" href="/css/pico.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" type="image/png" href="/img/logo.png" />
    <style>
      @media screen and (max-width: 768px) {
        .full-title {
          display: none;
        }
      }
      @media screen and (min-width: 769px) {
        .mobile-title {
          display: none;
        }
      }
    </style>
  </head>
  <div class="indexTopBar">
    <div class="container" id="logo">
      <%- include('_header') %>
      <h1 id="title" class="indexTopBar">
        <% if (headerData.enabled === false){ %>
        <div id="disabledBanner" style="color: #f5ae43">
          <span>ORDERING DISABLED</span>
        </div>
        <% } else { %>
        <span class="full-title">NNHS Half Caf</span>
        <span class="mobile-title">Half Caf</span>
        <% } %>
      </h1>
    </div>
    <% if(headerData.enabled === false){ %>
    <h3 id="noOrder">Ordering is not currently available</h3>
    <% } %>
  </div>

  <div id="sidebar">
    <a href="/teacherPopularDrinks">Popular Drinks</a>
    <a href="/teacherMenu">Menu</a>
    <a href="/teacherMyFavorites">My Favorites</a>
    <a href="/teacherMyCart">My Cart</a>
    <a href="/teacherOrderHistory">Order History</a>

    <a href="https://forms.gle/uqQ8SiAY4BUPCTJp8" target="_blank">Feedback</a>
    <a href="https://forms.gle/MuZF7T39r9adDQRT8" target="_blank"
      >Report a bug</a
    >
    <% if (role === "admin") { %>
    <a href="/addUser">Admin</a>
    <% } %>
    <a href="/logout">Logout</a>
  </div>

  <style>
    #noOrder {
      margin-top: 3%;
      margin-right: 5%;
      margin-left: 3%;
      max-width: 40%;
    }
    #logout {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      background-color: #3f93d8;
      margin-right: 5%;
      border-radius: 5px;
    }
    #logout:hover {
      background-color: #f5ae43;
    }
  </style>

  <input class="emailInput" type="hidden" value="<%=email%>" />
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/notifications.js"></script>
  <script src="/js/refreshOrderingToggle.js"></script>
  <!-- Add sw-update to listen for updates -->
  <script src="/js/sw-update.js"></script>
</html>
