<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Half Caf</title>
    <link rel="stylesheet" href="/css/pico.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <div class="indexTopBar">
    <h1>NNHS Half Caf</h1>
  </div>

  <div class="topnav" id="navbar">
    <a href="/teacherPopularDrinks">Popular Drinks</a>
    <a href="/menu">Menu</a>
    <a href="/teacherMyOrder">My Order</a>
    <a href="/teacherMyFavorites">My Favorites</a>
    <a href="/teacherOrderHistory">Order History</a>
  </div>
</html>
