/* styling for the authentication page */

.authForm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.authForm img {
  width: 100px;
  height: 100px;
}

.indexTopBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
}

.indexTopBar h1 {
  margin-right: auto;
}

.adminPage {
  margin-left: 15px;
  width: 500px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.userHdr {
  margin-bottom: 30px;
}

.viewUser {
  display: inline-block;
}

.user-buttons {
  display: inline-block;
  margin-right: 10px;
  width: 150px;
  font-size: medium;
  padding: 10px;
  margin-top: 10px;
}

.notification .dropdown {
  color: white;
  background-color: rgb(255, 156, 7);
  padding: 5px 10px;
  margin: 0px;
  width: 130px;
}

.dropdown {
  font-size: 15px;
}

.on-off {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px;
}

.on-off input {
  opacity: 0;
  width: 0;
  height: 0;
}

.dis-en {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(0, 0%, 75%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.dis-en:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .dis-en {
  background-color: rgb(255, 156, 7);
  content: "yay";
}

input:checked + .dis-en:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* 
toggle switch citation:
https://www.w3schools.com/howto/howto_css_switch.asp
*/

.topnav {
  background-color: #a8a8a8;
  overflow: hidden;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
}

.topnav a:hover {
  background-color: #3f93d8;
  color: black;
}

.topnav a.active {
  background-color: #ffa530;
  color: white;
}

.card {
  width: 400px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 75px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 16px 16px;
}

.column:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 35px;
  margin: 3%;
}

h2 {
  margin: 2%;
}

img {
  margin: 10px;
  padding: 10px;
}

.container#logo {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: left;
}

.tempBox {
  display: flex;
}
