/* styling for the authentication page */

.html {
  background-color: #ffffff;
  color: #000000;
}

.warning h1 {
  border: 4px solid #f8552c;
  margin: 10px 100px 10px 100px;
}

body {
  background-color: #ffffff; /* Set a light background color */
  color: #000000; /* Set a dark text color */
}
b {
  color: black;
}

.authForm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 5px;
  color: 000000;
}

input[type="text"],
input[type="file"],
input[type="submit"],
input[type="checkbox"],
input[type="number"],
select,
textarea {
  background-color: #ffffff; /* Set a light background color */
  color: #000000; /* Set a dark text color */
  border: 1px solid #000000; /* Optional: Add a border to match the theme */
}

.authForm img {
  width: 100px;
  height: 100px;
}

.indexTopBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  background-color: whitesmoke;
  margin-right: auto;
  top: 0;
  left: 0;
  position: fixed;
  box-shadow: 0px 5px 10px #888888;
}

.container#logo {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

h1.indexTopBar {
  margin-left: 200px;
  box-shadow: none;
  z-index: 1000;
  margin-top: 0;
}

.adminPage {
  margin-left: 15px;
  width: 500px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

.userHdr {
  margin-bottom: 30px;
}

.viewUser {
  display: inline-block;
}

.user-buttons {
  display: inline-block;
  margin-right: 10px;
  width: 150px;
  font-size: medium;
  padding: 10px;
  margin-top: 10px;
}

.notification .dropdown {
  color: white;
  background-color: rgb(255, 156, 7);
  padding: 5px 10px;
  margin: 0px;
  width: 130px;
}

.dropdown {
  font-size: 15px;
}

.dropdown-check-list {
  background-color: #ffffff; /* Set a light background color */
  color: #000000; /* Set a dark text color */
  border: 1px solid #000000; /* Optional: Add a border to match the theme */
}

.dropdown-check-list ul {
  background-color: #ffffff; /* Set a light background color */
  color: #000000; /* Set a dark text color */
  border: 1px solid #000000; /* Optional: Add a border to match the theme */
}

.on-off {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px;
}

.on-off input {
  opacity: 0;
  width: 0;
  height: 0;
}

.dis-en {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(0, 0%, 75%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.dis-en:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .dis-en {
  background-color: rgb(255, 156, 7);
  content: "yay";
}

input:checked + .dis-en:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* 
toggle switch citation:
https://www.w3schools.com/howto/howto_css_switch.asp
*/

h4 {
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
  margin: 0;
}

#mainContent {
  margin-left: 200px;
  transition: margin-left 0.3s ease;
  padding: 16px;
  margin-top: 100px;
}

#sidebar {
  background-color: darkblue;
  width: 200px;
  position: fixed;
  top: 75px;
  bottom: 0;
  overflow-y: auto; /* Enable scroll if needed */
  box-shadow: 5px 0px 10px #888888;
}

#sidebar a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: inline-block;
  width: 100%;
}

#sidebar a:hover {
  background-color: #3f93d8;
  color: black;
}

#sidebar a.active {
  background-color: #ffa530;
  color: white;
}

.card {
  width: 40%;
  max-width: 400px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 75px;
  font-size: 6vmin;
  overflow-wrap: normal;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 16px 16px;
}

.column:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 35px;
  margin: 1%;
  color: #f8552c;
}

h5 {
  font-size: 25px;
  margin: 1%;
  border: 0;
  color: black;
}

h2 {
  margin: 1%;
  color: black;
}

img {
  margin: 10px;
  padding: 10px;
}

.container#logo {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: left;
}

.tempBox {
  display: flex;
}

textarea {
  resize: none;
}

h9 {
  font-size: 18px;
}

br {
  margin: 0, 0, 0, 0;
}

footer {
  background-color: #f8f9fa; /* Ensure footer background color is light */
  color: #000000; /* Ensure footer text color is dark */
}

li {
  color: black;
}

a {
  background-color: darkblue;
}
